<div class="container">
    <h1 class="title">Veja os posts mais recentes...</h1>
    <div class="search">
        <form class="form-search" (submit)="search()">
            <input type="text" name="search" id="search" placeholder="Busque por tags..." [(ngModel)]="searchName.name">
            <button type="submit">Pesquisar</button>
        </form>
    </div>

    <div class="content-posts" *ngIf="posts">
        <div class="post" *ngFor="let element of posts">
            <img [src]="element.url" alt="img">
            <h2>{{element.title}}</h2>
            <i class="createdBy">Por: {{element.createdBy}}</i>
            <ul class="tags">
                <li *ngFor="let tag of element.tags"><b>#</b>{{tag}}</li>
            </ul>
            <button type="button" (click)="readPost(element.id)">Ler</button>
        </div>
        
    </div>
</div>