<div class="container">
    <h1 class="title">Veja os posts mais recentes...</h1>
    <div class="search">
        <form class="form-search" (submit)="search()">
            <input type="text" name="search" id="search" placeholder="Busque por tags..." [(ngModel)]="searchName.name">
            <button type="submit">Pesquisar</button>
        </form>
    </div>

    <div class="content-posts" *ngIf="posts" 
    infinite-scroll
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="50" 
    (scrolled)="onScroll()"
    >
        <div class="post" *ngFor="let element of posts">
            <img [src]="element.url" alt="img">
            <h2>{{element.title}}</h2>
            <i class="createdBy">Por: {{element.createdBy}}</i>
            <ul class="tags">
                <li *ngFor="let tag of element.tags"><b>#</b>{{tag}}</li>
            </ul>

            <div class="collapse" [id]="element.id">
                <div class="card card-body">
                  {{element.body}}
                </div>
              </div>

            <button type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+element.id" >Ler</button>

        </div>

        <div class="spinner-border text-info" role="status" *ngIf="loading">
            <span class="visually-hidden">Loading...</span>
          </div>


        <div class="not-more-posts" *ngIf="notResults">
            <h3>Sem mais resultados...</h3>
        </div>
        
    </div>
</div>