<div class="container">
    <div class="title">
        <h1>Dashboard</h1>
        <p>Cadastre-se para começar a postar</p>
        <h3 *ngIf="posts.length < 1" >Você ainda não tem nenhum post...</h3>
    </div>
    <div class="content-table">

        <table class="table" *ngIf="posts.length > 0">
            <thead>
              <tr>
                <th colspan="3" scope="col">Title</th>
                <th scope="col" class="th-actions" >Acões</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr *ngFor="let post of posts">
                <td colspan="3">{{post.title}}</td>
                <td class="td-actions">

                    <div class="spinner-border text-primary" role="status" *ngIf="loading">
                        <span class="visually-hidden">Loading...</span>
                    </div>

                    <button type="button" class="btn btn-info" [disabled]="loading" (click)="readPost(post.id)">Ver</button>
                    <button type="button" class="btn btn-primary" [disabled]="loading" (click)="editar(post.id)">Editar</button>
                    <button type="button" class="btn btn-danger" [disabled]="loading" (click)="delete(post.id)">Excluir</button>
                </td>
              </tr>
              
            </tbody>
          </table>

    </div>
</div>
